{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Cursos</h1>
    <a href="{% url 'incluir_curso' %}" class="btn btn-primary">Cadastrar Novo Curso</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in lista %}
        <tr>
            <td>{{curso.nome}}</td>
            <td>{{curso.valor}}</td>
            <td>
                <a href="/cadastro/editar_curso/{{curso.id_curso}}">Alterar</a> 
                <a href="/cadastro/excluir_curso/{{curso.id_curso}}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}