{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Alunos</h1>
    <a href="{% url 'incluir_aluno' %}" class="btn btn-primary">Cadastrar Novo Aluno</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for aluno in lista %}
        <tr>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.data_de_nascimento}}</td>
            <td>{{aluno.endereco}}</td>
            <td>{{aluno.email}}</td>
            <td>{{aluno.telefone}}</td>
            <td>
                <a href="/cadastro/editar_aluno/{{aluno.id_aluno}}">Alterar</a> 
                <a href="/cadastro/excluir_alunuo/{{aluno.id_aluno}}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}