<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <a href="#">Cadastrar Novo Curso</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in lista %}
        <tr>
            <td>{{curso.nome}}</td>
            <td>{{curso.valor}}</td>
            <td>Alterar Exlcuir</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>