{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Professores</h1>
    <a href="{% url 'incluir_professor' %}" class="btn btn-primary">Cadastrar Novo Professor</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for professor in lista %}
        <tr>
            <td>{{professor.nome}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.telefone}}</td>
            <td>
                <a href="/cadastro/editar_professor/{{professor.id_professor}}">Alterar</a> 
                <a href="/cadastro/excluir_professor/{{professor.id_professor}}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}